.full-width {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 16px;
}
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 8px;
}
